@import "tailwindcss";

html, body {
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5);
    }
}

.animate-wave {
    animation: wave 1s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.animate-fade-in-out {
    animation: fadeInOut 6s ease-in-out;
}

.loader {
  width: 30px;
  aspect-ratio: 4;
  --c:#3B82F6 90%,#0000;
  background: 
    radial-gradient(circle closest-side at left  3px top 50%,var(--c)),
    radial-gradient(circle closest-side                     ,var(--c)),
    radial-gradient(circle closest-side at right 3px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:15px;aspect-ratio: 1}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.8s ease-out 0.2s both;
}

.animate-fade-in-delayed {
    animation: fadeIn 0.8s ease-out 1.3s both;
}
